extends layout

block content
  -let result=toShow
  div.row(class='mb-2')
  div
  if(toshow == null)
    h2 no instance
  else   
    div(class="container")
      div(class="col-md-12")
        h2(class="text-primary")= title
        label ID is  #{result._id}
        div(class="col-md-4")
        div.col-md-4
          form(id='serialForm', action="/resource/serials/"+ result._id, method="PUT")
            div.form-group
                label(for='name') Serial Name:
                input#name(type='text', name='name', value=result.name, class="form-control form-control-sm")
            div.form-group
                label(for='author') Serial Author: 
                input#author(type='text', name='author' value=result.author, class="form-control form-control-sm")
            div.form-group
                label(for='season') Serial Season: 
                input#season(type='number', name='season' value=result.season, class="form-control form-control-sm")
            input(type="submit", class="btn btn-primary btn-sm" value="Edit Serial")


    script.
      document.forms['serialForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
          method: 'PUT',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Update succeded")
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Update failed " + error )
        });
      });

  