extends layout

block content
  h1= title

  - let serialid = toShow._id
  - let serialname = toShow.name
  - let serialauthor = toShow.author
  - let serialseason = toShow.season
  - let actionid = "/resource/serials/" + serialid
  form(id='serialform', action= actionid, method="DELETE")
    div
    div.row
      div(class='serialAttr mr-3') Serial ID is:
      div #{serialid}
    div.row
      div(class='serialAttr mr-3') Serial Name is:
      div #{serialname}
    div.row
      div(class='serialAttr mr-3') Serial Author is:
      div #{serialauthor}
    div.row
      div(class='serialAttr mr-3') Serial Season is:
      div #{serialseason}
    div.row
      input(type="submit")

  script.
    document.forms['serialform'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'DELETE',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("DELETE succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("DELETE failed " + error )
      });
    });